@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

.table-large {
    @apply mt-2 rounded-sm bg-neutral-700 shadow-xl w-full text-sm text-left rtl:text-right text-neutral-800 dark:text-neutral-950;
}

.table-large-header {
    @apply text-xs text-neutral-700 uppercase bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-400;
}


.table-large.hz th {
    @apply font-medium uppercase border-b-neutral-900 border-b-4 p-2;
}

.table-large.vt th {
    @apply font-medium uppercase p-2;
}

.table-large td {
    @apply px-1 border-r border-r-neutral-950 border-dotted;

}

.table-large tr {
    @apply
    font-medium even:bg-neutral-600 ;
}

.table-small {
    @apply text-xs p-2;
}

.tag-list {
    @apply
    border-neutral-700 border
    rounded-md inline-flex
        mr-1
    overflow-hidden text-sm drop-shadow-sm
    ;
}

.tag-item {
    @apply
    py-0.5 px-1.5
    last:border-r-0
    text-xs
    ;
}

.tag-item-700 {
    @apply
    text-neutral-400
    bg-neutral-700 relative
    hover:bg-neutral-800
    border-r border-r-neutral-700;
    ;
}

.tag-item-800 {
    @apply
    text-neutral-400
    bg-neutral-800 relative
    hover:bg-neutral-950
    border-r border-r-neutral-600;
}

.breadcrumb > .tag-item {
    @apply last:bg-neutral-900;
}

.H {
    @apply text-red-300 font-bold;
}

.M {
    @apply text-emerald-300;
}

.L {
    @apply text-neutral-700;
}

.red {
    @apply bg-red-800;
}

.kw-layer, .kw-id-layer {
    @apply bg-red-800 float-start px-0.5;
}

.btn {
    @apply
    text-xs py-0.5 px-2 uppercase text-neutral-300
        font-mono
    hover:bg-blend-darken
    hover:opacity-95
    hover:shadow-lg

    rounded-md
    opacity-60
    border
    border-opacity-30
    border-t-neutral-300
    border-l-neutral-300
    border-b-neutral-900
    border-r-neutral-900

    active:shadow-inner
    active:bg-inherit
    bg-blend-luminosity
    bg-neutral-800;

}

.pending {
    @apply
    bg-orange-900
    text-orange-300;
}

.waiting {
    @apply bg-gray-700 text-gray-300;
}

.success {
    @apply bg-green-600 text-green-50;
}


.destructive {
    @apply bg-red-800 text-red-50;
}

.all {
    @apply bg-cyan-950 text-gray-300;
}

.complete {
    @apply bg-green-900 text-green-100;
}

.recurring {
    @apply bg-blue-900 text-blue-100;
}

.small-tag-list {
    @apply
    border-neutral-700 border
    inline-flex overflow-hidden text-xs
    ;
}

.small-tag-item {
    @apply text-xs
    py-0.5 px-1.5
    relative
        rounded-sm
        font-medium
    justify-center
    ;
}

.small-tag-item.amber-item {
    @apply bg-amber-500 text-amber-700;
}

.small-tag-item.normal {
    @apply bg-neutral-800 text-neutral-400;
}


.checkbox-wrapper-32 {
    --size: 20px;
    --border-size: 2px;

    position: relative;
}

.checkbox-wrapper-32 *,
.checkbox-wrapper-32 *::after,
.checkbox-wrapper-32 *::before {
    box-sizing: border-box;
}

.checkbox-wrapper-32 input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}

.checkbox-wrapper-32 input[type="checkbox"],
.checkbox-wrapper-32 label::before {
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-wrapper-32 label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 calc(var(--size) + 7px);
}

.checkbox-wrapper-32 label::before {
    content: '';
    border: var(--border-size) solid #000;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked + label::before {
    opacity: 1;
}

.checkbox-wrapper-32 svg {
    position: absolute;
    top: calc(50% + var(--border-size));
    left: var(--border-size);
    width: calc(var(--size) - (var(--border-size) * 2));
    height: calc(var(--size) - (var(--border-size) * 2));
    margin-top: calc(var(--size) / -2);
    pointer-events: none;
}

.checkbox-wrapper-32 svg path {
    stroke-width: 0;
    fill: none;
    transition: stroke-dashoffset 0.2s ease-in 0s;
}

.checkbox-wrapper-32 svg path + path {
    transition: stroke-dashoffset 0.2s ease-out 0.2s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked ~ svg path {
    stroke-dashoffset: 0;
    stroke-width: calc(var(--size) / 2);
}


#toast {
}