@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    @apply mt-2 rounded-sm bg-neutral-700 shadow-xl;
}


th {
    @apply font-medium uppercase border-b-neutral-900 border-b-4 p-2;
}

td {
    @apply px-5;
}

tr {
    @apply
    border-b-neutral-900 border-b border-dotted
    font-medium
    ;
}

.tag-list {
    @apply
    border-neutral-700 border
    rounded-md inline-flex
    overflow-hidden my-2 text-sm drop-shadow-sm
    ;
}

.tag-item {
    @apply
    py-1.5 px-2 text-neutral-400
    bg-neutral-800 relative
    hover:bg-neutral-950
    border-r border-r-neutral-600
    last:border-r-0
    text-xs
    ;
}

.breadcrumb > .tag-item {
    @apply last:bg-neutral-900;
}

.H {
    @apply text-red-300 font-bold;
}

.M {
    @apply text-emerald-300;
}

.L {
    @apply text-neutral-700;
}

.btn {
    @apply
    text-xs py-1.5 px-3.5 uppercase text-neutral-300
    hover:bg-blend-darken
    hover:opacity-95
    rounded-sm
    opacity-60
    bg-neutral-800;
}

.pending {
    @apply
    bg-orange-900
    bg-blend-luminosity
    text-orange-300;
}

.waiting {
    @apply bg-gray-700 bg-blend-luminosity text-gray-300;
}

.all {
    @apply bg-cyan-950 bg-blend-luminosity text-gray-300;
}

.complete {
    @apply bg-green-900 bg-blend-luminosity text-green-100;
}

.recurring {
    @apply bg-blue-900 bg-blend-luminosity text-blue-100;
}

