<!--
  ~ Copyright 2025 Tarin Mahmood
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<div hx-get="tasks/active" hx-trigger="every 60s" hx-swap="outerHTML" hx-target="this">
    {% if active_task %}
    <div class="join">

    </div>
    <div class="pl-2.5 pr-6 py-1.5 bg-green-900 text-green-200 shadow-xl rounded-sm flex flex-wrap " id="active-timer" 
        data-task-id="{{ active_task.uuid }}" data-task-start="{{ datetime_iso(datetime=active_task.start) }}">
        <span class="flex-grow">{{ active_task.description }}</span>
        <div class="join">
            <span class="badge badge-success badge-md badge-soft join-item timer-duration">
                {{ timer_value(date=active_task.start) }}
            </span>
            <button class="btn btn-accent btn-xs join-item"
                    hx-post="tasks"
                    hx-target="#list-of-tasks"
                    hx-swap="innerHTML"
                    hx-include="[id='filtering']"
                    hx-vals='{"uuid":"{{ active_task.uuid }}", "action": "ToggleTimer", "status": "stop"}'
                    hx-trigger="click,keyup[key=='o'] from:#cmd-inp">
                <span>St<span class="shortcut_key">o</span>p</span>
            </button>
        </div>
    </div>
    {% endif %}
</div>