<!DOCTYPE html>
<html lang="en" {% if DEFAULT_THEME %}data-theme="{{ DEFAULT_THEME }}" {% endif %}>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/style.css"/>
    <style>
        {% if USE_FONT %}
        body {
            font-family: '{{ USE_FONT }}', '{{ FALLBACK_FAMILY }}';
        }
        {% endif %}
    </style>
    <script src="/dist/bundle.js" type="module"></script>
    <title>
        Org.Me
    </title>
</head>
<body>
<div id="content">
    <main>
        <div class="toast fixed items-center right-5 bottom-5 w-full max-w-xs z-605" id="toast" role="alert"></div>
        <div id="list-of-tasks">{% include "tasks.html" %}</div>
        <div id="ledger_things"></div>
    </main>
</div>
</body>
</html>