<div class="join" id="tag_search_bar">
    <button class="btn btn-neutral btn-xs join-item">
        <span><span class="shortcut_key">t</span>ags</span>
    </button>
    <button class="btn btn-xs btn-neutral join-item"
            hx-get="tasks/undo/report"
            hx-trigger="click,keyup[{{mod_key}}key=='u'] from:#cmd-inp"
            hx-target="#undo_confirm"
            hx-swap="innerHTML">
        <span><span class="shortcut_key">u</span>ndo</span>
    </button>
    <button class="btn btn-xs btn-neutral join-item"
            hx-get="tasks/add"
            hx-include="[id='filtering']"
            hx-trigger="click,keyup[{{mod_key}}key=='n'] from:#cmd-inp"
            hx-target="#task_form_div"
            hx-swap="innerHTML">
        <span><span class="shortcut_key">n</span>ew</span>
    </button>
</div>
