<div class="join">
    <button
            class="btn btn-secondary btn-xs join-item"
            id="tag-btn-back"
            hx-get="tasks"
            hx-trigger="click,keyup[key=='Escape'] from:#tag-inp"
            hx-target="#list-of-tasks"
            hx-include="[id='filtering']"
    >ESC</button>
    <span class="join-item">
        <label for="tag-inp" class="hidden"></label>
        <input type="text" id="tag-inp"
               class="input input-xs input-accent"
               placeholder="Tag Bar"
               hx-trigger="changes delay:2s"
               hx-target="#list-of-tasks"
               hx-include="[id='filtering']"
               hx-swap="innerHTML"
               autofocus
               onkeyup="if (this.value.length >= 2) { document.getElementById(this.value).click() }"
               onfocus="document.querySelectorAll('.is-a-tag-selector').forEach((e) => e.classList.remove('hidden'))"
               onblur="document.querySelectorAll('.is-a-tag-selector').forEach((e) => e.classList.add('hidden')); document.getElementById('tag-btn-back').click();"
        />
    </span>
</div>
