{% import "desc.html" as desc %}
<div class="rounded-lg bg-neutral-800 p-2 shadow-2xl absolute top-10 left-72 z-50 w-3/5 lg:h-4/5 xl:h-auto overflow-y-auto">
    <h2 class="text-lg font-bold text-neutral-200">Task Details</h2>
    <div class="pl-2 pr-5 py-1.5 bg-neutral-700 shadow-xl rounded-sm mt-2 text-xs flex">
        <div class="tag-list">
            <button
                    class="tag-item-800 tag-item"
                    id="tag-btn-back-details"
                    hx-get="tasks"
                    hx-target="#list-of-tasks"
                    hx-include="[id='filtering']"
                    hx-trigger="click,keyup[key=='Escape'] from:#task-details-inp"
            >[Esc] back
            </button>
            <button
                    class="tag-item-800 tag-item success"
                    id="btn-mark-as-done"
                    hx-post="tasks"
                    hx-target="#list-of-tasks"
                    hx-include="[id='filtering']"
                    {% if task.status !="completed" %}
                        hx-vals='{"status": "completed", "uuid":"{{ task.uuid }}", "action": "StatusUpdate"}'
                    {% else %}
                        hx-vals='{"status": "pending", "uuid":"{{ task.uuid }}", "query": "status:completed", "action": "StatusUpdate" }'
                    {% endif %}
                    hx-trigger="click,keyup[key=='d'] from:#task-details-inp"
            ><u>d</u>one
            </button>
            <button
                    class="tag-item-800 tag-item red"
                    id="btn-denotate-task"
                    hx-post="tasks"
                    hx-target="#list-of-tasks"
                    hx-include="[id='filtering']"
                    hx-vals='{"uuid":"{{ task.uuid }}", "action": "DenotateTask"}'
                    hx-trigger="click,keyup[key=='n'] from:#task-details-inp"
            >de<u>n</u>otate
            </button>
            <button
                    class="tag-item-800 tag-item pending"
                    id="btn-timer-toggle"
                    hx-post="tasks"
                    hx-target="#list-of-tasks"
                    hx-include="[id='filtering']"
                    hx-vals='{"uuid":"{{ task.uuid }}", "action": "ToggleTimer"}'
                    hx-trigger="click,keyup[key=='s'] from:#task-details-inp">
                {% if task.start %}
                <u>s</u>top
                {% else %}
                <u>s</u>tart
                {% endif %}
            </button>
            <span>
            <label for="task-details-inp" class="hidden"></label>
            <input type="text" id="task-details-inp"
                   class="pl-1 bg-neutral-600 outline-none text-xs border-neutral-600 border-2"
                   placeholder="Cmd Bar, Ctrl+Shift+K"
                   autofocus
            />
        </span>
        </div>
    </div>
    <table class="table-large vt">
        <tbody>
        <tr>
        <th class="w-1/6">
                <label for="task-edit-inp">Modify</label>
            </th>
            <td>
                <input type="text" id="task-edit-inp"
                       class="pl-1 bg-neutral-600 outline-none text-xs border-neutral-600 border-2 w-full"
                       placeholder="Edit task with command"
                       hx-trigger="keyup[key=='Enter'] from:#task-edit-inp"
                       hx-post="tasks"
                       hx-target="#list-of-tasks"
                       hx-include="[this],[id='filtering']"
                       name="task_entry"
                       hx-vals='{"uuid":"{{ task.uuid }}", "action": "ModifyTask"}'
                />
            </td>
        </tr>
        <tr>
            <th>
                <label for="task-annot-inp">Annotate</label>
            </th>
            <td>
                <input type="text" id="task-annot-inp"
                       class="pl-1 bg-neutral-700 outline-none text-xs border-neutral-700 border-2 w-full"
                       placeholder="Annotate task"
                       hx-trigger="keyup[key=='Enter'] from:#task-annot-inp"
                       hx-post="tasks"
                       hx-target="#list-of-tasks"
                       hx-include="[this],[id='filtering']"
                       name="task_entry"
                       hx-vals='{"uuid":"{{ task.uuid }}", "action": "AnnotateTask"}'
                />
            </td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{% if task.entry %}{{ date_proper(date=task.entry) }}{% endif %}</td>
        </tr>
        <tr>
            <th>Depends on</th>
            <td>
                {% if task.depends %}
                {% for uuid in task.depends %}
                {%if tasks_db[uuid] %}{{ tasks_db[uuid].id }}{% endif %}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Project</th>
            <td>
                {% if task.project %}
                <div class="breadcrumb tag-list">
                    {% for p in task.project | split(pat=".") %}
                    <span class="tag-item tag-item-800">
                        {{ p }}
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                <div class="tag-list">
                    {% if task.tags %}
                    {% for p in task.tags %}
                    <span class="tag-item tag-item-800">
                            {{ p }}
                        </span>
                    {% endfor %}
                    {% endif %}
                    {% if task.priority %}
                    <span class="tag-item {{ task.priority }} tag-item-800">{{ task.priority }}</span>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td class="text-wrap w-2/3">
                {{ desc::desc(task=task) }}
            </td>
        </tr>
        <tr>
            <th>Urgency</th>
            <td>{{ task.urgency }}</td>
        </tr>
        <tr>
            {% if task.start %}
            <th>Start</th>
            <td>
                {{ date_proper(date=task.start) }}
            </td>
        </tr>
        <tr>
            {% endif %}
            {% if task.due and task.status != 'completed' %}
            <th>Due</th>
            <td>
                {{ date_proper(date=task.due, in_future=true) }}
            </td>
            {% endif %}
        </tr>
        <tr>
            {% if task.scheduled %}
            <th>Schd</th>
            <td>
                {{ date_proper(date=task.scheduled, in_future=true) }}
            </td>
            {% endif%}
        </tr>
        <tr>
            {% if task.end %}
            <th>End</th>
            <td>
                {{ date_proper(date=task.end) }}
            </td>
            {% endif %}
        </tr>
        <tr>
            {% if task.recur %}
            <th>RECUR</th>
            <td>
                {{task.recur}}
            </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>
