{% import "desc.html" as desc %}
{% if has_toast %}
<div hx-swap-oob="beforeend:#toast">
    <div class="items-center justify-items-center gap-4 px-5 py-3 text-neutral-300 fixed h-18 top-0 left-0 w-full z-50 bg-cyan-700 shadow-xs shadow-black"
         hx-trigger="load delay:{{ toast_timeout }}s" hx-get="/msg_clr" id="flash_msg" hx-swap="outerHTML">

        <div class="flex flex-row">
            <span class="text-sm font-medium hover:opacity-75 flex-grow">{{ toast_msg }}</span>
            <span>
                <button class="rounded bg-white/20 p-1 hover:bg-white/10" hx-get="/msg_clr" hx-target="#toast"
                        hx-trigger="click,keyup[key=='Escape'] from:#cmd-inp"
                        autofocus
                        hx-swap="innerHTML">
                    <span>[Esc]</span>
                </button>
            </span>
        </div>
    </div>
</div>
{% endif %}
<div class="mb-auto h-max">
    <div id="undo_confirm"></div>
    <div id="task_form_div"></div>
    <div id="task_details"></div>
    {% set on_all = "all" %}
    {% set on_complete = "btn-success" %}
    {% set on_pending = "btn-warning" %}
    {% set on_waiting = "btn-accent" %}
    {% set mod_key = "" %}
    <div class="fixed top-0 left-0 h-[18] z-40 w-full pb-2 shadow-sm shadow-black bg-base-100">
        <div class="pl-2 pr-2 py-1.5 rounded-sm text-xs flex flex-wrap bg-base-100"
             id="main-action-bar">
            <!-- TAG BAR -->
            <div class="md:flex-grow sm:row-autotag-list flex-wrap" id="left-action-bar">
                {% include 'left_action_bar.html' %}
            </div>
            <!-- // -->
            <!-- TAG LIST -->
            <div class="md:flex-grow sm:row-autotag-list flex-wrap">
                <div class="join">
                    {% for f in current_filter %}
                    <button class="btn btn-xs join-item {% if f is starting_with('project:') %}btn-neutral{% else %}btn-secondary {% endif %}"
                            hx-include="[id='filtering']"
                            hx-get="tasks?query={{ f | replace(from='+', to='%2B') }}"
                            hx-target="#list-of-tasks">
                        {{ remove_project_tag(task=f) }}
                    </button>
                    {% endfor %}
                    <button class="btn btn-disabled btn-xs btn-neutral join-item"></button>
                </div>
                <input type="hidden" id="filtering" name="filter_value" value="{{ filter_value }}">
            </div>
            <!-- // -->
            <!-- CMD BAR -->
            <div class="tag-list">
            <span>
                <label class="" for="cmd-inp"></label>
                <input type="search" class="input input-xs grow" placeholder="Cmd Bar, Ctrl+Shift+k" id="cmd-inp" autofocus/>
            </span>
            </div>
            <!-- // -->
        </div>
        <div class="pl-2 pr-2  text-xs">
            <div class="flex flex-wrap">
                <div class="join flex-1/3">
                    <button class="btn btn-xs join-item btn-neutral" id="pending" hx-get="tasks?status=pending"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='p'] from:#cmd-inp"
                            hx-swap="innerHTML">pending
                    </button>
                    <button class="btn btn-xs join-item btn-neutral" id="waiting" hx-get="tasks?status=waiting"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='w'] from:#cmd-inp"
                            hx-swap="innerHTML">waiting
                    </button>
                    <button class="btn btn-xs join-item btn-neutral" id="completed"
                            hx-get="tasks?status=completed"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='c'] from:#cmd-inp"
                            hx-target="#list-of-tasks" hx-swap="innerHTML">completed
                    </button>
                    <button class="btn btn-xs join-item btn-neutral"
                            hx-get="tasks?report=all"
                            hx-include="[id='filtering']"
                            hx-target="#list-of-tasks"
                            hx-trigger="click,keyup[{{mod_key}}key=='a'] from:#cmd-inp"
                            hx-swap="innerHTML">all
                    </button>
                </div>
                <div class="join flex-1/3">
                    <button class="btn btn-xs join-item btn-primary" hx-get="tasks?report=next"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='x'] from:#cmd-inp"
                            hx-swap="innerHTML">next
                    </button>
                    <button class="btn btn-xs join-item btn-primary" hx-get="tasks?report=ready"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='r'] from:#cmd-inp"
                            hx-swap="innerHTML">ready
                    </button>
                    <button class="btn btn-xs join-item btn-primary" hx-get="tasks?report=new"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='e'] from:#cmd-inp"
                            hx-swap="innerHTML">new
                    </button>
                </div>
                <div class="justify-items-end join">
                    <button class="btn btn-xs join-item btn-neutral" id="priority-h" hx-get="tasks?query=priority:H"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='h'] from:#cmd-inp"
                            hx-swap="innerHTML">H
                    </button>
                    <button class="btn btn-xs join-item btn-neutral" id="priority-m" hx-get="tasks?query=priority:M"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='m'] from:#cmd-inp"
                            hx-swap="innerHTML">M
                    </button>
                    <button class="btn btn-xs join-item btn-neutral" id="priority-l" hx-get="tasks?query=priority:L"
                            hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            hx-trigger="click,keyup[{{mod_key}}key=='l'] from:#cmd-inp"
                            hx-swap="innerHTML">L
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-b-lg overflow-y-auto mt-16 pt-0 pb-2 mb-5">

        {% if display_time_of_the_day == 1 %}
        <div class="justify-start items-center h-4" id="time_of_the_day">
            <div class="flex-1 w-full rounded-sm text-lime-50 text-xs">
                <div class="[min-width:4px] mt-1 bg-lime-600 shadow-inner shadow-lime-950 rounded-sm fill-lime-50 px-2 content-end">
                </div>
            </div>
        </div>
        {% endif %}

        <ul class="list bg-base-100 rounded-box shadow-md">
            {% for task in tasks %}
            <li class="list-row">
                <div>
                    <input
                            type="checkbox"
                            class="checkbox checkbox-sm"
                            name="checkbox-{{ task.uuid }}"
                            id="checkbox-ls-{{ task.uuid }}"
                            hx-trigger="change"
                            hx-post="tasks" hx-target="#list-of-tasks"
                            hx-include="[id='filtering']"
                            {% if task.status !="completed" %}
                            hx-vals='{"status": "completed", "uuid":"{{ task.uuid }}", "action": "StatusUpdate"}'
                            hx-swap="innerHTML"
                            {% else %}
                            checked="checked"
                            hx-vals='{"status": "pending", "uuid":"{{ task.uuid }}", "query": "status:completed", "action": "StatusUpdate" }'
                            hx-swap="innerHTML"
                            {% endif %}
                    >
                </div>
                <div>
                    <div class="flex gap-4 ">
                        <div class="shrink">
                            <button
                                    class="btn btn-secondary static btn-md"
                                    hx-trigger="click"
                                    hx-get="task_details?task_id={{ task.uuid }}"
                                    hx-target="#task_details"
                            >
                                {{ task.id }}
                            </button>
                        </div>
                        <div class="grow">
                            <div class="mb-2">
                                {{ desc::desc(task=task) }}
                            </div>
                            <div class="join">
                                {% if task.project %}
                                    {% for p in task.project | split(pat=".") %}
                                    {% set ptag = ["project", p] | join(sep=":") %}
                                    <button class="join-item btn btn-accent btn-xs"
                                            hx-include="[id='filtering']"
                                            hx-target="#list-of-tasks"
                                            hx-get="tasks?query=project:{{ project_name(full_name=task.project, index=loop.index) }}">
                                        {{ p }}
                                    </button>
                                    {% endfor %}
                                    <button class="btn btn-disabled btn-xs btn-neutral join-item"></button>
                                {% endif %}
                                {% if task.priority %}
                                <button class="btn btn-xs {{ task.priority }} btn-neutral"
                                        hx-get="tasks?query=priority:{{ task.priority }}" hx-target="#list-of-tasks"
                                        hx-include="[id='filtering']"
                                        hx-swap="innerHTML"
                                >{{ task.priority }}
                                </button>
                                <button class="btn btn-disabled btn-xs btn-neutral join-item"></button>
                                {% endif %}
                                {% if task.tags %}
                                    {% for p in task.tags %}
                                    <button class="btn btn-xs btn-neutral join-item" hx-get="tasks?query=%2B{{ p }}"
                                            hx-target="#list-of-tasks"
                                            hx-include="[id='filtering']"
                                            hx-swap="innerHTML">
                                        {{ p }}
                                    </button>
                                    {% endfor %}
                                    <button class="btn btn-disabled btn-xs btn-neutral join-item"></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div>{{ task.urgency }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>