<div class="rounded-lg bg-white p-8 shadow-2xl absolute top-1/3 left-1/4 z-50">
    <h2 class="text-lg font-bold">{{ heading }}</h2>

    <p class="mt-2 text-sm text-gray-500">
        The undo command is not reversible. Are you sure you want to revert to the previous state?
        <ul>
            {% for line in report %}
            <li>{{line | replace(from='\t', to='    ') }}</li>
            {% endfor %}
        </ul>
    </p>

    <div class="mt-4 flex gap-2" id="model-undo">
        <button type="button" class="rounded bg-green-50 px-4 py-2 text-sm font-medium text-green-600"
                id="btn-mdl-yes"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks"
                hx-trigger="click,keyup[key=='y'] from:#model-undo"
                hx-post="tasks/undo/confirmed">
            [Y]es, I'm sure
        </button>

        <button type="button" class="rounded bg-gray-50 px-4 py-2 text-sm font-medium text-gray-600"
                hx-get="tasks" autofocus
                hx-trigger="click,keyup[key=='n'] from:#model-undo"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks">
            [N]o, go back
        </button>
    </div>
</div>
