<div class="modal-box">
    <h2 class="text-lg font-bold text-neutral-content-50">{{ heading }}</h2>
    <p class="mt-2 text-sm text-neutral-400">
        The undo command is not reversible. Are you sure you want to revert to the previous state?

        <table class="table table-zebra table-pin-rows table-xs">
            <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Operation</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                {% for op_uuid, op_list in undo_report %}
                    {% for operation in op_list %}
                    <tr>
                        {% if loop.first %}
                        <td rowspan="{{ op_list | length }}">{{ operation.uuid }}</td>
                        {% endif %}
                        <td>{{ operation.operation }}</td>
                        <td>{% if operation.property %}
                            {% if operation.is_tag_change %}
                                {% if operation.old_value %}
                                Removed tag {{ operation.property }}
                                {% else %}
                                Added tag {{ operation.property }}
                                {% endif %}
                            {% else %}
                                Attribute: {{ operation.property }}<br />
                                {% if operation.old_value %}
                                Old value: {{ operation.old_value }}<br />
                                {% endif %}
                                New value: {{ operation.value }}<br />
                                {% endif %}
                            {% endif %}

                            {% if operation.old_task %}
                            Following attributes were set:<br />
                            {% for k,v in operation.old_task %}
                                {{ k }} = {{ v }}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </p>
    <div class="modal-action" id="model-undo">
        <button class="btn btn-warning btn-md"
                id="btn-mdl-yes"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks"
                hx-trigger="click,keyup[key=='Enter'] from:body"
                hx-post="tasks/undo/confirmed">
            <kbd class="shortcut_key">Enter</kbd> Yes, Sure
        </button>

        <button  class="btn btn-success btn-md"
                hx-get="tasks"
                hx-trigger="click,keyup[key=='Escape'] from:all-dialog-boxes"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks">
            <kbd class="shortcut_key">Esc</kbd> Cancel
        </button>
    </div>
    <script>
        document.getElementById('all-dialog-boxes').showModal()
    </script>
</div>
