<div class="modal-box">
    <h2 class="text-lg font-bold">{{ heading }}</h2>
    <p class="mt-2 text-sm">
        The undo command is not reversible. Are you sure you want to revert to the previous state?

        <table class="table table-pin-rows table-xs mt-2">
            <tbody>
                {% for vv in undo_report %}
                    {% for operation in vv.1 %}
                    {% if loop.first %}
                    <tr class="bg-base-200 text-lg">
                        <td colspan="3">{{ vv.0 }}</td>
                    </tr>
                    <tr class="bg-base-300">
                        <th></th>
                        <th>Operation</th>
                        <th>Change</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <td></td>
                        <td>{{ operation.operation }}</td>
                        <td>{% if operation.property %}
                            {% if operation.is_tag_change %}
                                {% if operation.old_value %}
                                Removed tag {{ operation.property }}
                                {% else %}
                                Added tag {{ operation.property }}
                                {% endif %}
                            {% else %}
                                Attribute: {{ operation.property }}<br />
                                {% if operation.old_value %}
                                Old value: {{ operation.old_value }}<br />
                                {% endif %}
                                New value: {{ operation.value }}<br />
                                {% endif %}
                            {% endif %}

                            {% if operation.old_task %}
                            Following attributes were set:<br />
                            {% for k,v in operation.old_task %}
                                {{ k }} = {{ v }}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </p>
    <div class="modal-action" id="model-undo">
        <button class="btn btn-warning btn-md"
                id="btn-mdl-yes"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks"
                hx-trigger="click,keyup[key=='Enter'] from:body"
                hx-post="tasks/undo/confirmed">
            <kbd class="shortcut_key">Enter</kbd> Yes, Sure
        </button>

        <button  class="btn btn-success btn-md"
                hx-get="tasks"
                hx-trigger="click,keyup[key=='Escape'] from:body"
                hx-include="[id='filtering']"
                hx-target="#list-of-tasks">
            <kbd class="shortcut_key">Esc</kbd> Cancel
        </button>
    </div>
    <script>
        document.getElementById('all-dialog-boxes').showModal()
    </script>
</div>
