name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4
    - run: cd frontend
    - run: npm install
    - run: cd ..
    - run: cargo build --verbose
    - run: cargo test --verbose
